<div class="category category-popup">
    <ion-scroll>
        <a class="button button-icon icon ion-ios-baseball" data-icon="ion-ios-baseball" data-category="" my-category></a>
        <a class="button button-icon icon ion-settings" data-icon="ion-settings" data-category="" my-category></a>
        <a class="button button-icon icon ion-help-buoy" data-icon="ion-help-buoy" data-category="" my-category></a>
        <a class="button button-icon icon ion-heart" data-icon="ion-heart" data-category="" my-category></a>
        <a class="button button-icon icon ion-heart-broken" data-icon="ion-heart-broken" data-category="" my-category></a>
        <a class="button button-icon icon ion-wrench" data-icon="ion-wrench" data-category="" my-category></a>
        <a class="button button-icon icon ion-edit" data-icon="ion-edit" data-category="" my-category></a>
        <a class="button button-icon icon ion-clipboard" data-icon="ion-clipboard" data-category="" my-category></a>
        <a class="button button-icon icon ion-medkit" data-icon="ion-medkit" data-category="" my-category></a>
        <a class="button button-icon icon ion-paper-airplane" data-icon="ion-paper-airplane" data-category="" my-category></a>
        <a class="button button-icon icon ion-clock" data-icon="ion-clock" data-category="" my-category></a>
        <a class="button button-icon icon ion-beer" data-icon="ion-beer" data-category="" my-category></a>
        <a class="button button-icon icon ion-wineglass" data-icon="ion-wineglass" data-category="" my-category></a>
        <a class="button button-icon icon ion-coffee" data-icon="ion-coffee" data-category="" my-category></a>
        <a class="button button-icon icon ion-icecream" data-icon="ion-icecream" data-category="" my-category></a>
        <a class="button button-icon icon ion-pizza" data-icon="ion-pizza" data-category="" my-category></a>
        <a class="button button-icon icon ion-camera" data-icon="ion-camera" data-category="" my-category></a>
        <a class="button button-icon icon ion-monitor" data-icon="ion-monitor" data-category="" my-category></a>
        <a class="button button-icon icon ion-laptop" data-icon="ion-laptop" data-category="" my-category></a>
        <a class="button button-icon icon ion-ipad" data-icon="ion-ipad" data-category="" my-category></a>
        <a class="button button-icon icon ion-iphone" data-icon="ion-iphone" data-category="" my-category></a>
        <a class="button button-icon icon ion-ipod" data-icon="ion-ipod" data-category="" my-category></a>
        <a class="button button-icon icon ion-bug" data-icon="ion-bug" data-category="" my-category></a>
        <a class="button button-icon icon ion-mic-b" data-icon="ion-mic-b" data-category="" my-category></a>
        <a class="button button-icon icon ion-music-note" data-icon="ion-music-note" data-category="" my-category></a>
        <a class="button button-icon icon ion-bag" data-icon="ion-bag" data-category="" my-category></a>
        <a class="button button-icon icon ion-model-s" data-icon="ion-model-s" data-category="" my-category></a>
        <a class="button button-icon icon ion-waterdrop" data-icon="ion-waterdrop" data-category="" my-category></a>
        <a class="button button-icon icon ion-lightbulb" data-icon="ion-lightbulb" data-category="" my-category></a>
    </ion-scroll><br>
    <input type="text" ng-model="myCategory.name" placeholder="输入分类名称">
</div>

