<ion-view view-title="mBank" hide-back-button="true">
    <ion-nav-bar class="bar-assertive nav-title-slide-full">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div ng-form="loginForm" class="loginForm">
            <div class="head-pic" id="head-pic"><i class="icon ion-camera" ng-show="isShow" my-head-pic></i></div>
            <label class="item item-input">
                <i class="icon ion-ios-person-outline positive"></i>
                <input type="text" placeholder="请输入用户名" name="username" ng-model="user.username" ng-required="true" pattern="^([A-Za-z])[A-Za-z0-9_]{5,19}$">
                <div class="assertive error" ng-show="loginForm.username.$error.pattern">
                    *用户名必须以字母开头6-20个字母、数字或下划线
                </div>

            </label>
            <label class="item item-input">
                <i class="icon ion-ios-unlocked-outline positive"></i>
                <input type="password" placeholder="请输入密码" ng-model="user.password" name="password" ng-required="true" pattern="^\S{8,20}$">
                <div class="assertive error" ng-show="loginForm.password.$error.pattern">
                    *密码必须为8-20个非空字符
                </div>
            </label>
            <label class="item item-input" ng-show="isShow">
                <i class="icon ion-ios-unlocked-outline positive"></i>
                <input type="password" placeholder="请重复密码" ng-model="user.reppwd">
            </label>
            <label class="item item-input" ng-show="isShow">
                <i class="icon ion-ios-email-outline positive"></i>
                <input type="email" placeholder="请输入邮箱" ng-model="user.email" name="email" pattern="^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$" ng-required="true">
                <div class="assertive" ng-show="loginForm.email.$error.pattern">
                    *邮箱格式不正确
                </div>
            </label>
            <!--<label class="item item-input">-->
            <!--<ion-checkbox>记住密码</ion-checkbox>-->
            <!--</label>-->
            <a class="button button-positive button-full" href="javascript:0" ng-click="doLogin()" ng-show="!isShow">登录</a>
            <!--<a class="button button-energized button-full" href="javascript:0" ng-click="doRegister()" ng-show="!isShow">注册</a>-->
            <a class="button button-energized button-full" href="javascript:0" ng-click="doRegister()" ng-disabled="loginForm.$invalid" ng-show="isShow">注册</a>
            <a class="button button-calm button-full" href="javascript:0" ng-click="cancelRegister()" ng-show="isShow">取消</a>
            <a class="zhuce" href="javascript:0" ng-click="doRegister()" ng-show="!isShow">注册</a>
            <a class="qqlogin" href="javascript:0" ng-click="loginByQQ()" ng-show="!isShow">使用QQ账号登录>></a>
        </div>
    </ion-content>
</ion-view>
